---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

@import "minimal-mistakes"; // main partials

// 专门针对文章正文区域
/* 自定义文章正文内的标题字号 */
.page__content {
  h1 {
    font-size: 1.5em; // 原始通常是 2em 或更大
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1.15em;
  }
  h4 {
    font-size: 1.05em;
  }
  p, li {
    font-size: 0.9rem;   // 调整段落和列表的字号
  }
}